.page-numbers {
  color: #999;
  @include pagination;
}

.pagination-centered ul.page-numbers li {
  float: none;
  display: inline-block;
}

.page-numbers li span.current {
  //@include border-radius(3px);
}

.page-numbers li {
  margin-left: rem-calc(8);
}

// customizing pagination for WordPress using Foundation mixins, this is not beautiful I know
.page-numbers li {
  span:hover a,
  span a:focus {
    background: $pagination-link-active-bg;
  }
  span.current {
    background: $pagination-link-current-background;
    padding: $pagination-link-pad;
    color: $pagination-link-current-font-color;
    font-weight: $pagination-link-current-font-weight;
    cursor: $pagination-link-current-cursor;
  }
}